canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#fondo {
    z-index: -2;
}

#principal {
    z-index: -1;
}

#nave {
    z-index: 0;
}

.score{
    position: absolute;
    height:  5px;
    width: 480px;
    color: rgb(212, 28, 28);
    font-family: 'Times New Roman', Times, serif;
    cursor:  default;
}
.game-over{
    position: absolute;
    height: 100px;
    width: 210px;
    color: rgb(156, 46, 46);
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
    display: none;
}
.game-over span {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.game-over span:hover {
    color: #FFD700;
}

