body {
    background: #000000;
}
canvas {
    border: 1px solid #8f1313;
    position: absolute;
    top: 150px;
    left: 350px;
    background: transparent;
}

#fondo {
    z-index: -2;
}

#principal {
    z-index: -1;
}

#nave {
    z-index: 0;
}

.score{
    position: fixed;
    height:  5px;
    width: 480px;
    color: rgb(212, 28, 28);
    font-family: 'Times New Roman', Times, serif;
    cursor:  default;
    justify-content: center;
}
.game-over{
    position: absolute;
    top: 100px;
    left: 210px;
    color: rgb(156, 46, 46);
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
    display: none;
    justify-content: center;
}
.game-over span {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.game-over span:hover {
    color: #FFD700;
}
			.loading { 
				position: absolute;
				top: 100px;
				left: 110px;
				color: #FF7F00;
				font-family: Helvetica, sans-serif;
				font-size: 30px;
				cursor: default;
			}

